.heading {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-size: 5em;
}

.paragraph {
    font-size: 3em;
}

.paragraphs {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-screenshot {
    height: auto;
    width: 400px;
}

.usability-problems {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.up1 {
    font-size: 2em;
}

.up2 {
    font-size: 1.5em;
}

.accessibility-problems {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ap1 {
    font-size: 2em;
}

.ap2 {
    font-size: 1.5em;
}

.vr1 {
    font-size: 1.5em;
}

.lf-1 {
    font-size: 2em;
}

.wireframing {
    height: auto;
    width: 500px;
}

.hf-1 {
    font-size: 2em;
}

.prototyping {
    height: auto;
    width: 600px;
}

.style-guide {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sg1 {
    font-size: 2em;
}

.styleguide {
    height: auto;
    width: 600px;
}